* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    
    grid-template-areas: "header header header"
                         "main main side"
                         "subscribe subscribe subscribe"
                         "footer footer footer";
    grid-gap: 10px;
}
